{% liquid
  for tag in article.tags
    if tag contains 'cat'
      assign for_cats = true
    endif
    if tag contains 'dog'
      assign for_dogs = true
    endif
  endfor

  if for_cats and for_dogs
    assign eyebrow = 'For Dog + Cat People'
  elsif for_cats
    assign eyebrow = 'For Cat People'
  elsif for_dogs
    assign eyebrow = 'For Dog People'
  endif
%}

<div>
  <div class="relative rounded overflow-hidden">
		<div style="padding-bottom: 100%">
  		{% render 'image',
  			image: article.image,
  			fit: 'cover',
  			class: 'absolute w-full h-full inset-0',
  			use_padding: false %}
    </div>
    <a title="{{ title | default: article.title }}" tabindex="-1" aria-hidden="true" class="z-10 absolute inset-0" href="{{ article.url }}"></a>
  </div>
  <p class="label-sm-light mt-4">{{ eyebrow }}</p>
  <h3 class="h4 md:h3 xl:h2 mt-2"><a title="{{ article.title }}" href="{{ article.url }}">{{ article.title }}</a></h3>
  <a aria-hidden="true" class="label block capitalize font-bold mt-5 animate-arrow" title="{{ article.title }}" href="{{ article.url }}">Read article {% render 'icon-arrow', class: 'inline ml-1' %}</a>
</div>