{% liquid
  assign label = article.metafields.custom.badge | metafield_text

  if label contains 'Dogs'
    assign label_color = 'flag--cardiac'
  elsif label contains 'Cats'
    assign label_color = 'flag--cranberry'
  elsif label contains 'Lifestyle'
    assign label_color = 'flag--joint-mint-green'
  elsif label contains 'Nutrition'
    assign label_color = 'flag--mushroom'
  elsif label contains 'Recipes'
    assign label_color = 'flag--light-blue'
  endif
%}

  <div>
    <div class="image-wrapper relative rounded overflow-hidden">
        <div style="padding-bottom: 100%">
            {% render 'image',
                image: article.image,
                fit: 'cover',
                class: 'absolute w-full h-full inset-0',
                use_padding: false 
            %}
        </div>
        
        {% if label %}
            <div class="z-10 absolute top-5 right-0 flag flag--sm md:flag--md {{ label_color }}">{{ label }}</div>
        {% endif %}

        <a title="{{ title | default: article.title }}" tabindex="-1" aria-hidden="true" class="z-10 absolute inset-0" href="{{ article.url }}"></a>
    </div>

    <h3 class="h5 mt-2 md:h3 md:mt-3 xl:h2"><a title="{{ article.title }}" href="{{ article.url }}">{{ article.title }}</a></h3>
    {% if section.settings.show_excerpt == true %}
        <p class="mt-2">{{ article.excerpt }}</p>
    {% endif %}
    <a aria-hidden="true" class="label block mt-3 animate-arrow font-bold capitalize" title="{{ article.title }}" href="{{ article.url }}">Read article {% render 'icon-arrow', class: 'inline ml-1' %}</a>
  </div>