{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - show_rating: {Boolean} Show the product rating. Default: false
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - show_secondary_image
  - description
  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-card-product.css' | asset_url | stylesheet_tag }}
{% render 'rating-star-mask.svg' %}


{%- if card_product and card_product != empty -%}

  <div class="card-product">
    <div class="relative card-product__image-wrapper animate-spring-up rounded overflow-hidden">

      <div class="bg-white">
        {%- if card_product.featured_image -%}
          {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
          <div class="card-product__image">
            {% render 'image', image: card_product.featured_image,
              class: 'z-1 w-full',
              sizes: '(min-width: 768px) 33vw, 100vw',
              width: 300,
              fit: 'contain',
              use_padding: true
            %}
          </div>

          {% if show_secondary_image and card_product.images[1] %}
            <div class="card-product__image">
              {% render 'image', image: card_product.images[1],
                fit: 'contain',
                class: 'hidden hoverable:block z-0 object-contain w-full h-full inset-0 absolute',
                sizes: '(min-width: 768px) 33vw, 100vw',
                width: 300
              %}
            </div>
          {% endif %}
        {%- endif -%}
        {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
      </div>

      <a title="{{ title | default: card_product.title }}" tabindex="-1" aria-hidden="true" class="z-1 absolute inset-0"  href="{{ card_product.url | within: collection }}"></a>

      {%- if show_quick_add -%}
        <div class="spring-up card-product__quick-add--hoverable z-1 quick-add no-js-hidden hidden md:hoverable:block absolute bottom-0 inset-x-5 py-5">
          {%- assign product_form_id = 'quick-add-hoverable-' | append: section_id | append: card_product.id -%}
            <product-form>
              {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                <input
                  type="hidden"
                  name="id"
                  value="{{ card_product.selected_or_first_available_variant.id }}"
                  disabled
                >
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="button button--xs md:button--sm button--white w-full"
                  aria-haspopup="dialog"
                  aria-label="{{ product_form_id }}-submit"
                  aria-live="polite"
                  data-sold-out-message="true"
                  {% if card_product.selected_or_first_available_variant.available == false %}
                    disabled
                  {% endif %}
                >
                  <span>
                    {%- if card_product.selected_or_first_available_variant.available -%}
                      {{ card_product.selected_or_first_available_variant.price | money }} - Add to Cart
                    {%- else -%}
                      {{ 'products.product.sold_out' | t }}
                    {%- endif -%}
                  </span>
                  <span class="sold-out-message hidden">
                    {{ 'products.product.sold_out' | t }}
                  </span>
                </button>
              {%- endform -%}
            </product-form>
        </div>
      {%- endif -%}
    </div>

    {%- if show_rating and card_product.metafields.reviews.rating.value != blank -%}
      {% liquid
        assign rating_value = card_product.metafields.reviews.rating.value
        assign rating_count = card_product.metafields.reviews.rating_count
        assign scale_max = rating_value.scale_max
        assign rating = rating_value.rating
      %}

      {% render 'rating', rating_count: rating_count, scale_max: scale_max, rating: rating, class: 'mt-[0.625rem] md:mt-3' %}
    {%- endif -%}


    <h3 class="mt-[0.625rem] md:mt-3 " id="title-{{ section_id }}-{{ card_product.id }}">
      <a
        class="focus-visible:ring h4 md:h2"
        href="{{ card_product.url | within: collection }}"
        aria-label="{{ title | default: card_prduct.title }}"
        title="{{ title | default: card_prduct.title }}"
      >
        {{ title | default: card_product.title }}
      </a>
    </h3>

    {% if show_description != false %}
      <p class="mt-[0.625rem] md:mt-3">{{ description | default: card_product.description | strip_html | truncate: 140 }}</p>
    {% endif %}

    {%- if show_quick_add -%}
      <div class="mt-4 quick-add no-js-hidden block md:hoverable:hidden">
        {%- assign product_form_id = 'quick-add-nonhoverable-' | append: section_id | append: card_product.id -%}
          <product-form>
            {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <input
                type="hidden"
                name="id"
                value="{{ card_product.selected_or_first_available_variant.id }}"
                disabled
              >
              <button
                id="{{ product_form_id }}-submit"
                type="submit"
                name="add"
                class="button button--xs md:button--sm button--joint-green w-full"
                aria-haspopup="dialog"
                aria-label="{{ product_form_id }}-submit"
                aria-live="polite"
                data-sold-out-message="true"
                {% if card_product.selected_or_first_available_variant.available == false %}
                  disabled
                {% endif %}
              >
                <span>
                  {%- if card_product.selected_or_first_available_variant.available -%}
                    {{ card_product.selected_or_first_available_variant.price | money }} - Add to Cart
                  {%- else -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- endif -%}
                </span>
                <span class="sold-out-message hidden">
                  {{ 'products.product.sold_out' | t }}
                </span>
              </button>
            {%- endform -%}
          </product-form>
      </div>
    {%- endif -%}
  </div>
{%- endif -%}
