{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - section_id: {String} The ID of the section that contains this card.
  - show_secondary_image
  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-card-product.css' | asset_url | stylesheet_tag }}
{% render 'rating-star-mask.svg' %}


{%- if card_product and card_product != empty -%}

  <div class="card-product ">
    <div class="relative card-product__image-wrapper overflow-hidden">
      <a
        tabindex=-1
        class="block absolute inset-0 z-10"
        href="{{ card_product.url | within: collection }}"
        aria-hidden
        title="{{ card_prduct.title }}"
      ></a>

      <div class="relative">

        {%- if card_product.featured_image -%}
          {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
          <div class="card-product__image">
            {% render 'image', image: card_product.featured_image,
              class: 'z-1 w-full',
              sizes: '(min-width: 768px) 33vw, 100vw',
              width: 300,
              fit: 'contain',
              use_padding: true
            %}
          </div>
          {% if show_secondary_image and card_product.images[1] %}
            <div class="card-product__image">
              {% render 'image', image: card_product.images[1],
                fit: 'contain',
                class: 'hidden hoverable:block z-0 object-contain w-full h-full inset-0 absolute',
                sizes: '(min-width: 768px) 33vw, 100vw',
                width: 300
              %}
            </div>
          {% endif %}
        {%- endif -%}
        {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
      </div>
    </div>

    <div class="relative mt-[0.625rem] md:mt-3 text-body-xl" id="title-{{ section_id }}-{{ card_product.id }}">
      <a
        class="block absolute inset-0 z-10 focus-visible:ring h4 md:h2"
        href="{{ card_product.url | within: collection }}"
        aria-label="{{ card_prduct.title }}"
        title="{{ card_prduct.title }}"
      ></a>
      <em>{{ card_product.metafields.custom.artist_name }}</em><br/>
      <h3>{{ card_product.title }}</h3>
      {{ card_product.metafields.custom.medium }}<br/>
      {{ card_product.metafields.custom.dimensions }}<br/>
      <strong>{{ card_product.price | money_without_trailing_zeros }}—</strong>
    </div>

  </div>
{%- endif -%}
