{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - show_rating: {Boolean} Show the product rating. Default: false
  - section_id: {String} The ID of the section that contains this card.
  - description
  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-card-product.css' | asset_url | stylesheet_tag }}
{% render 'rating-star-mask.svg' %}


{%- if card_product and card_product != empty -%}

  <div class="card-product p-5 rounded-xl bg-true-white drop-shadow">
    <div class="flex items-start justify-start">

      <div class="bg-white relative rounded-xl">

        {%- if card_product.featured_image -%}
          {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
          <div>
            {% render 'image', image: card_product.featured_image,
              wrapper_class: 'overflow-hidden w-40',
              sizes: '160px',
              width: 160,
              use_padding: true
            %}
          </div>

        {%- endif -%}
        {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

        <a title="{{ title | default: card_product.title }}" tabindex="-1" aria-hidden="true" class="z-1 absolute inset-0"  href="{{ card_product.url | within: collection }}"></a>

      </div>

      <div class="ml-5">
        {%- if show_rating and card_product.metafields.reviews.rating.value != blank -%}
          {% liquid
            assign rating_value = card_product.metafields.reviews.rating.value
            assign rating_count = card_product.metafields.reviews.rating_count
            assign scale_max = rating_value.scale_max
            assign rating = rating_value.rating
          %}

          {% render 'rating', rating_count: rating_count, scale_max: scale_max, rating: rating, class: 'mt-[0.625rem] md:mt-3' %}
        {%- endif -%}


        <h3 class="mt-[0.625rem] md:mt-3 " id="title-{{ section_id }}-{{ card_product.id }}">
          <a
            class="focus-visible:ring h4 md:h3"
            href="{{ card_product.url | within: collection }}"
            aria-label="{{ title | default: card_prduct.title }}"
            title="{{ title | default: card_prduct.title }}"
          >
            {{ title | default: card_product.title }}
          </a>
        </h3>

        <p class="mt-[0.625rem] md:mt-3">{{ card_product.metafields.my_fields.product_short_description | default: card_product.description | truncatewords: 14 | strip_html }}</p>

      </div>
    </div>
  </div>
{%- endif -%}

