{%- capture column_content -%}
  {%- if block.type == "link_list" and block.settings.menu != blank -%}
    {%- for link in block.settings.menu.links -%}
      <li>
        <a
          href="{{ link.url }}"
          class="text-link"
          {%- if link.type == "http_link" -%}
            target="_new"
          {%- endif -%}

          {% if link.title == 'Accessibility' %}
            data-acsb-custom-trigger="true"
          {% endif %}
        >
          {{ link.title }}
        </a>
      </li>
    {%- endfor -%}
  {%- endif -%}

  {%- if block.type == "social" -%}
    {%- render 'footer-social-links', class: 'space-y-4 pb-4' -%}
  {%- endif -%}
{%- endcapture -%}

{%- if column_content != blank -%}
  <div class="hidden md:block md:shrink md:w-1/4" {{ block.shopify_attributes }}>
    <h3 class="label">{{ block.settings.heading }}</h3>
    <ul class="space-y-3 mt-3">
      {{ column_content }}
    </ul>
  </div>

  <div class="md:hidden border-b-2 border-whiter/40"
    @resize.window.debounce="$nextTick(() => {contentHeight = $refs.content.scrollHeight + 'px'})"
    x-data="{
      contentHeight: 'auto',
      accordionIsOpen: false,
      open() {
        this.contentHeight = $refs.content.scrollHeight + 'px';
        this.accordionIsOpen = true
      },
      close(){
        this.accordionIsOpen = false
      },
      toggle() {
        this.accordionIsOpen ? this.close() : this.open()
      }
    }">

    <button @click="toggle" class="w-full py-4 flex justify-between items-center">
      <span class="label">{{ block.settings.heading }}</span>
      <span class="rotate-90 transition-transform" :class="accordionIsOpen ? '-rotate-90' : 'rotate-90'">{% render 'icon-caret' %}</span>
    </button>

    <div x-cloak
      :style='`height: ${accordionIsOpen ? contentHeight : "0px"}`'
      class="duration-200 transition-height overflow-hidden relative">

      <div x-ref="content" class="space-y-4">
        <ul class="space-y-4 pb-4">
          {{ column_content }}
        </ul>
      </div>
    </div>
  </div>

{%- endif -%}
