{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

<link rel="stylesheet" href="{{ 'component-pagination.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-pagination.css' | asset_url | stylesheet_tag }}</noscript>


{%- if paginate.parts.size > 0 -%}
  <div class="pagination-wrapper page-width max-w-screen-2xl mx-auto {{ class }}">
    <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
      <div class="w-ful flex items-center justify-between " role="list">
        <button class="w-11 h-11 button button--yellow cursor-auto p-0 pr-1{% unless paginate.previous %} opacity-50{% endunless %}">
          {%- if paginate.previous -%}
            <a href="{{ paginate.previous.url }}{{ anchor }}" class="block motion-reduce" aria-label="{{ 'general.pagination.previous' | t }}" >
              {%- render 'icon-caret', class: 'rotate-180 w-4 h-4' -%}
            </a>
          {%- else -%}
            {%- render 'icon-caret', class: 'rotate-180 w-4 h-4' -%}
          {%- endif -%}
        </button>

        <ul class="flex">
          {%- for part in paginate.parts -%}
            <li class="mx-4 h4 block">
              {%- if part.is_link -%}
                <a href="{{ part.url }}{{ anchor }}" class="text-joint-green/50" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
              {%- else -%}
                {%- if part.title == paginate.current_page -%}
                  <span class="text-joint-green" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                {%- else -%}
                  <span class="text-joint-green/50">{{ part.title }}</span>
                {%- endif -%}
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>

        <button class="w-11 h-11 button button--yellow p-0 pl-1{% unless paginate.next %} opacity-50{% endunless %}">
          {%- if paginate.next -%}
            <a href="{{ paginate.next.url }}{{ anchor }}" class="block motion-reduce" aria-label="{{ 'general.pagination.previous' | t }}" >
              {%- render 'icon-caret', class: 'w-4 h-4' -%}
            </a>
          {%- else -%}
            {%- render 'icon-caret', class: 'w-4 h-4' -%}
          {%- endif -%}
        </button>
      </div>
    </nav>
  </div>
{%- endif -%}
