<style>
  .pdp-slider .swiper-wrapper {
    --pdp-image-max-height: calc(var(--screen-less-header) * .9);
  }
  @media screen and (min-width: 768px) {
    .pdp-slider .swiper-slide{
      width: calc(100% - 40px);
    }
    .pdp-slider .swiper-slide  img {
      width: 100%;
      height: 100%;
    }
    .pdp-slider .swiper-slide.portrait img {
      max-width: var(--pdp-image-max-height);
      height: auto;
    }
    .pdp-slider .swiper-slide.landscape img {
      max-height: var(--pdp-image-max-height);
      width: auto;
    }
  }
</style>


<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script defer="defer" type="application/javascript" src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"/>
<script defer="defer" type="application/javascript" src="{{ 'product-form.js' | asset_url }}"/>

{%- if product.images.size > 1 -%}
  <script src="{{ 'component-pdp-slider.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<pdp-slider id="MediaGallery-{{ section.id }}" role="region" aria-label="{{ 'products.product.media.gallery_viewer' | t }}" class="block relative -mr-10">

  <div class="pdp-prev focus-visible:ring-inset w-18 flex items-center justify-center"><span class="absolute top-1/2 left-padding-sm -translate-y-1/2 label-xl">&larr;</span></div>
  <div class="pdp-next focus-visible:ring-inset w-18 flex items-center justify-center"><span class="absolute top-1/2 right-padding-sm -translate-y-1/2 label-xl">&rarr;</span></div>


  <div {% if product.media.size > 1 %} data-slider {% endif %} class="pdp-swiper pdp-slider relative overflow-hidden" id="GalleryViewer-{{ section.id }}">


    <ul class="flex swiper-wrapper" role="list">
      {%- for image in product.images -%}
        <li id="Slide-{{ section.id }}-{{ image.id }}" data-media-position="{{ forloop.index0 }}" class="swiper-slide w-full block relative{% if image.aspect_ratio > 1 %} portrait{% else %} landscape{% endif %}">
            {% render 'image', image: image,
              use_padding: false,
              preload: true,
              fit: 'contain',
              sizes: "100vw, (min-width: 768px) 50vw"
            %}
        </li>
      {%- endfor -%}
    </ul>

    <div class="mt-5 text-body-xl swiper-fractions"></div>

  </div>
</pdp-slider>

