{% comment %}theme-check-disable UndefinedObject{% endcomment %}

<footer>
  <div class="padding-x pt-5 pb-13 border-t">

    {%- if section.settings.heading != blank -%}
      <h2 class="inline-richtext indent">{{- section.settings.heading -}}—</h2>
    {%- endif -%}


    {%- if section.settings.menu != blank -%}
      <ul class="list-unstyled">
        {%- for link in section.settings.menu.links -%}
          <li>
            <a
              href="{{ link.url }}"
              class="{% if link.active %}underline{% endif %}"
            >
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
        {% if section.settings.credits_text != blank %}
          <li class="site-credits" x-data="{ visible: false }">
            <button class="transition-all" :class="{ 'indent pt-5': visible }" @click="visible = !visible">
              <span class="inline-block align-middle">{{ section.settings.credits_heading }}</span><span class="inline-block align-middle overflow-hidden transition-max-w duration-200" :class="{'max-w-0': !visible, 'max-w-10': visible}">—</span>
            </button>

            <div class="overflow-hidden transition-max-h duration-200" :class="{'max-h-0': !visible, 'max-h-25': visible}">{{ section.settings.credits_text }}</div>
          </li>
        {% endif %}
      </ul>

    {%- endif -%}
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Quick links",
      "label": "Heading"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "Menu"
    },
    {
      "type": "text",
      "id": "credits_heading",
      "default": "Site Credits",
      "label": "Site Credits Heading"
    },
    {
      "type": "richtext",
      "id": "credits_text",
      "default": "<p>Lorem ipsum dolor sit amet</p><p>consectetur adipiscing elit</p>",
      "label": "Site Credits Text"
    }
  ]
}
{% endschema %}
