<script>
  loadDynamicScriptTag("{{ 'embla-carousel.js' | asset_url }}", function() { document.dispatchEvent(new Event('emblaLoaded')); })
  loadDynamicScriptTag("{{ 'component-embla-wrapper.js' | asset_url }}")
</script>

{% assign handle = page.handle %}

{% liquid
  assign menu = section.settings.menu
  for p in shop.policies
    assign p_handle = p.url | split: '/' | last
    if p_handle == handle
      assign policy = p
    endif
  endfor


  for link in menu.links
    if link.current
      assign initial_index = forloop.index0
      break
    endif
  endfor
%}

<div class="padding-x pt-8 pb-20 md:py-30">
  <div class="md:flex md:space-x-5 md:justify-center">
    {% if menu.links.size > 1 %}
      <div class="mb-5 max-w-screen-2xl mx-auto md:mx-0">
        <div role="navigation" class="relative overflow-hidden">
          <nav class="max-w-fit mx-auto md:w-50 md:mx-0 md:max-w-50">
            <embla-wrapper data-options='{ "startIndex": {{ initial_index | default: 0 }}, "align": "center", "dragFree": true, "breakpoints": { "(min-width: 768px)": { "active": false } } }' class="block">

              <ul class="embla__container flex space-x-5 md:flex-col md:space-x-0 md:space-y-10">
                {% for link in menu.links %}
                  <li class="embla__slide flex-shrink-0 label px-2 md:px-0 py-3 md:py-0 {% if link.current %}border-b-2 border-joint-green md:border-none {% else %}text-joint-green/50{% endif %}">
                    <a {% if link.current %} aria-current="page"{% endif %} title="{{ link.title }}" href="{{ link.url }}" >{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </embla-wrapper>
            <hr class="absolute bottom-0 w-full inset-x-0 z-10 my-0 border-solid border-0 border-b-2 border-b-joint-green/20 md:hidden" />
          </nav>
        </div>
      </div>
    {% endif %}

    <div class="mt-12 md:mt-0 max-w-screen-md">
      <h2 class="h4 md:h3 lg:h2">{{ page.title }}</h2>
      <div class="mt-8 rte lg:body-lg">
        {% if policy %}
          {{ policy.body }}
        {% else %}
          {{ page.body }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Policy Page",
  "enabled_on": {
    "templates": [
      "page"
    ]
  },
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Policy Navigation Menu"
    }
  ],
  "tag": "section",
  "class": "section"
}
{% endschema %}
