{% comment %}css-purge shopify-payment-button__button{% endcomment %}

<script>
  loadDynamicScriptTag("{{ 'embla-carousel.js' | asset_url }}", function() { document.dispatchEvent(new Event('emblaLoaded')); })
</script>

<div id="MainProduct-{{ section.id }}" class="section-main-product section-{{ section.id }} padding-x max-w-screen-2xl mx-auto" data-section="{{ section.id }}">
  {{ 'component-quantity.css' | asset_url | stylesheet_tag }}
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-rte.css' | asset_url | stylesheet_tag }}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

  {%- if product.media.size > 1 -%}
    <script src="{{ 'component-pdp-slider.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script>
    loadDynamicScriptTag("{{ 'product-form.js' | asset_url }}")
  </script>

  <div class="section-main-product__inner md:grid md:grid-cols-12 md:grid-flow-dense md:gap-5">
    <div class="product__media-wrapper md:col-span-7 md:col-start-6" style="background-color: {{ product.metafields.colors.primary }};">
      <div class="">
        {% render 'pdp-slider' %}
      </div>
    </div>
    <div class="md:col-span-5 md:col-start-1">
      <div id="ProductInfo-{{ section.id }}" class="sticky top-header product__info-container my-10 md:mb-15 md:max-w-[36rem]">

        {% liquid
          assign product_form_id = 'add-to-cart-' | append: product.handle | append: '-' | append: collection.handle | append: '-' | append: section.id
          assign product_form_id = 'product-form-' | append: section.id
        %}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'title' -%}
            <div class="product__title" {{ block.shopify_attributes }}>
              <em>{{ product.metafields.custom.artist_name }}</em><br/>
              <h1 class="mt-3 h2 md:h1">
                {{ product.title }}
              </h1>
              {{ product.metafields.custom.medium }}<br/>
              {{ product.metafields.custom.dimensions }}<br/>
            </div>
          {%- when 'profits_donated_to' %}
            <div class="line-item-property__field my-10">
              {% assign product_form_id = 'product-form-' | append: section.id %}
              <p class="indent" for="your-name">Profits donated to—</p>
              <p class="italic text-off-black">(select one)</p>
              {% for value in product.metafields.custom.profits_donated_to.value %}
                <div class="flex items-center">
                  <input form="{{ product_form_id }}" type="radio" id="{{ value | handleize }}" name="properties[Profits donated to]" value="{{ value }}">
                  <label class="ml-2" for="{{ value | handleize }}">{{ value }}</label>
                </div>
              {% endfor %}
            </div>
          {%- when 'price' -%}
            {% liquid
              if product.selected_or_first_available_selling_plan_allocation and block.settings.hide_on_subscription == true
                assign show_price = false
              else
                assign show_price = true
              endif
            %}
            {% if show_price == true %}
              <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                {%- render 'price', product: product, use_variant: true -%}
              </div>

              {% comment %}
                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                  <div class="product__tax caption rte">
                    {%- if shop.taxes_included -%}
                      {{ 'products.product.include_taxes' | t }}
                    {%- endif -%}
                    {%- if shop.shipping_policy.body != blank -%}
                      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              {% endcomment %}
              <div {{ block.shopify_attributes }} class="my-4">
                {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                {%- form 'product', product, id: product_form_installment_id -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {{ form | payment_terms }}
                {%- endform -%}
              </div>
            {% endif %}
          {%- when 'rating' -%}
            {% render 'rating-star-mask.svg' %}
           {%- if product.metafields.reviews.rating.value != blank -%}
              {% liquid
                assign rating_value = product.metafields.reviews.rating.value
                assign rating_count = product.metafields.reviews.rating_count
                assign scale_max = rating_value.scale_max
                assign rating = rating_value.rating
              %}

              <div class="my-2 md:my-5 relative" {{ block.shopify_attributes }}>
                {% render 'rating', rating_count: rating_count, scale_max: scale_max, rating: rating %}
                <a href="#reviews" title="Scroll To reviews" class="block opacity-0 absolute inset-0">Scroll To Reviews</a>
              </div>
            {%- endif -%}
          {%- when 'variant_picker' -%}
            {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
          {%- when 'quantity_selector' -%}
            <div class="product-form__input product-form__quantity my-4" {{ block.shopify_attributes }}>
              <quantity-input class="quantity bg-white rounded-full p-1 w-full text-body-xl">
                <button class="quantity__button no-js-hidden button flex-0 p-0 w-8 h-8" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>

                <input class="quantity__input flex-1 h5"
                  type="number"
                  name="quantity"
                  aria-label="{{ 'products.product.quantity.input_label' | t: product: product.title | escape }}"
                  id="Quantity-{{ section.id }}"
                  min="1"
                  value="1"
                  form="{{ product_form_id }}"
                >

                <button class="quantity__button no-js-hidden button flex-0 p-0 w-8 h-8" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
            </div>

          {%- when 'buy_buttons' -%}
            {%- render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true -%}
          {%- when 'complementary' -%}

            <product-recommendations class="block complementary-products no-js-hidden my-10 md:my-15" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ block.settings.product_list_limit }}&intent=complementary">
              {%- if recommendations.performed and recommendations.products_count > 0 -%}
                <aside aria-label="{{ 'accessibility.complementary_products' | t }}" {{ block.shopify_attributes }}>
                  <div>

                    <div>
                      <h2 class="label-sm md:label">{{ block.settings.block_heading }}</h2>
                    </div>

                    <ul class="complementary-products__list space-y-10 mt-3" role="list">
                      {%- for product in recommendations.products limit: block.settings.product_list_limit -%}
                        <li class="complementary-products__item">
                          {% render 'card-complementary-product',
                            card_product: product,
                            lazy_load: false,
                            section_id: section.id
                          %}
                        </li>
                      {%- endfor -%}
                    </ul>

                  </div>
                </aside>
              {%- endif -%}
            </product-recommendations>
          {%- endcase -%}
        {%- endfor -%}

      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');

        return msie > 0 || trident > 0;
      }

      if (!isIE()) return;
      const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
      const noScriptInputWrapper = document.createElement('div');
      const variantSwitcher =
        document.querySelector('variant-radios[data-section="{{ section.id }}"]') ||
        document.querySelector('variant-selects[data-section="{{ section.id }}"]');
      noScriptInputWrapper.innerHTML = document.querySelector(
        '.product-form__noscript-wrapper-{{ section.id }}'
      ).textContent;
      variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

      document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
        hiddenInput.value = event.currentTarget.value;
      });
    });
  </script>


  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      {%- if product.metafields.reviews.rating.value != blank -%}
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "{{ product.metafields.reviews.rating.value | json }}",
          "reviewCount": "{{ product.metafields.reviews.rating_count.value | json }}|"
        },
      {%- endif -%}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
</div>


{% stylesheet %}
.shopify-payment-button__button {
  height: 53px !important;
}
.shopify-payment-button__button .shopify-cleanslate [role=button] {
  height: 53px !important;
  font-weight: 700 !important;
  letter-spacing: .04em !important;
  border-radius: 9999px;
}

.section-main-product .video-section {
  aspect-ratio: 1/1;
}

.section-main-product .video-section .media {
  padding-bottom: var(--ratio-percent);
}
.section-main-product .video-section video {
  aspect-ratio: 1/1;
}
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "enabled_on": {
    "templates": [
      "product"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.video.settings.enable_video_looping.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_on_subscription",
          "label": "Hide on subscription products",
          "info": "Hide the standalone price display on subscription products, which display one-time and subscription pricing in a different location.",
          "default": true
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "rating",
      "name": "Star Rating",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "profits_donated_to",
      "name": "Profits donated to",
      "limit": 1,
      "settings": [

      ]
    },
    {
      "type": "complementary",
      "name": "t:sections.main-product.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary_products.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "block_heading",
          "default": "Pairs well with",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "make_collapsible_row",
          "default": false,
          "label": "t:sections.main-product.blocks.complementary_products.settings.make_collapsible_row.label"
        },
        {
          "type": "range",
          "id": "product_list_limit",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 10,
          "label": "t:sections.main-product.blocks.complementary_products.settings.product_list_limit.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.complementary_products.settings.product_card.heading"
        },
        {
          "type": "checkbox",
          "id": "enable_quick_add",
          "label": "t:sections.main-product.blocks.complementary_products.settings.enable_quick_add.label",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
