{% liquid
  assign first_article = blog.articles | first
%}

<div class="main-blog__wrapper">
  {%- paginate blog.articles by 25 -%}
  <div class="blog-articles-container">

    <section class="featured-article">

      {% liquid
        assign label = first_article.metafields.custom.badge | metafield_text

        if label contains 'Dogs'
          assign label_color = 'flag--cardiac'
        elsif label contains 'Cats'
          assign label_color = 'flag--cranberry'
        elsif label contains 'Lifestyle'
          assign label_color = 'flag--joint-mint-green'
        elsif label contains 'Nutrition'
          assign label_color = 'flag--mushroom'
        elsif label contains 'Recipes'
          assign label_color = 'flag--light-blue'
        endif
      %}

      {% case first_article.metafields.custom.layout_style %}
        {% when 'Full Page' %}

          {% liquid
            assign image_alt = first_article.image.alt | default: first_article.title | strip_html

            assign sizes = '100vw'
            assign image_class = 'brightness-[.7] absolute inset-0 w-full h-full'
            assign wrapper_class = 'justify-end'
            if section.settings.force_screen_height
              assign wrapper_class = wrapper_class | append: ' min-h-screen-less-header'
            endif
            assign text_class = 'md:w-2/3 '

            if section.settings.swap_layout == false
              assign wrapper_class = wrapper_class | append: ' md:flex-row-reverse'
            else
              assign wrapper_class = wrapper_class | append: ' md:flex-row'
            endif

            assign desktop_image_class = image_class
          %}

          <div class="full-page__container">
            <div class="relative items-stretch flex flex-col md:min-h-[768px] md:flex-row {{ wrapper_class }}">

              {% render 'image',
                image: first_article.image,
                preload: true,
                alt: image_alt,
                class: desktop_image_class,
                fit: 'cover',
                sizes: sizes
              %}

              <div class="padding-x lg:w-1/2 md:py-10 lg:py-12 z-10 flex items-end {{ text_class }}">
                <div class="relative max-w-md text-white">

                  {% if label %}
                    <div class="mb-3 md:mb-5 z-10 flag flag--sm md:flag--md {{ label_color }} flag--reverse absolute -top-11">{{ label }}</div>
                  {% endif %}

                    <h1 class="h2 lg:h1">
                      {{ first_article.title }}
                    </h1>

                  <a class="button {{ section.settings.cta_color }} font-bold md:mt-5 lg:mt-10" href="{{ first_article.url }}" title="{{ first_article.title }}">
                    Read Story
                  </a>
                </div>
              </div>

            </div>
          </div>

        {% when 'Split Screen' %}
          <div class="split-screen__container md:flex {% if section.settings.swap_layout == true %}md:flex-row {% else %}md:flex-row-reverse{% endif %}">

            <div class="relative md:h-auto md:w-1/2">
              {% capture wrapper_class %}w-full min-h-full{% endcapture %}
              <div class="relative {{ wrapper_class }}">
                <div style="padding-bottom: 100%">
                  {% render 'image',
                    image: first_article.image,
                    use_padding: false,
                    fit: 'cover',
                    sizes: "100vw, (min-width: 768px) 50vw",
                    class: 'absolute w-full h-full inset-0'
                  %}
                </div>
              </div>
            </div>

            <div class="relative flex flex-col justify-center padding-x py-10 md:w-1/2 md:justify-end md:px-0 md:py-0 {{ section.settings.bg_color }}">
              <div class="w-full md:px-15 md:py-10 lg:py-12">
                <div class="max-w-screen-md w-full mx-auto md:mx-0">
                  <div class="relative max-w-md">

                    {% if label %}
                      <div class="mb-3 md:mb-5 z-10 flag flag--sm md:flag--md {{ label_color }} flag--reverse">{{ label }}</div>

                    {% endif %}

                    <h1 class="h2 mb-[18px] lg:h1 {% if section.settings.bg_color == 'bg-joint-green' %} text-whiter {% else %} text-joint-green {% endif %}">{{ first_article.title }}</h1>
                    <div class="text-body mt-[18px] md:text-body-lg {% if section.settings.bg_color == 'bg-joint-green' %} text-whiter {% else %} text-joint-green {% endif %}">{{ first_article.excerpt }}</div>
                    <a class="button {{ section.settings.cta_color }} font-bold mt-10 md:mt-5 lg:mt-10" href="{{ first_article.url }}" title="{{ first_article.title }}">
                      Read Story
                    </a>

                  </div>
                </div>
              </div>
            </div>

          </div>
      {% endcase %}
    </section>

    <section class="tag-filter-navigation">
      <div class="padding-x mt-10 mb-5 max-w-screen-2xl mx-auto">
        <div role="navigation" class="relative overflow-hidden">
          <div class="max-w-fit mx-auto">
            <embla-wrapper data-options="{ &quot;startIndex&quot;: 0, &quot;align&quot;: &quot;center&quot;, &quot;dragFree&quot;: true, &quot;breakpoints&quot;: { &quot;(min-width: 1280px)&quot;: { &quot;active&quot;: false } } }" class="block">
      
              <ul class="embla__container flex space-x-5 md:space-x-10 lg:space-x-15">
      
                
                  <li class="embla__slide flex-shrink-0 label px-2 md:px-0 py-5 {% unless current_tags %}border-b-2 border-joint-green{% else %}text-joint-green/50{% endunless %}">
                    <a class="font-bold" title="All Stories" href="{{ blog.url }}">All Stories</a>
                  </li>

                  {% for tag in blog.all_tags %}
                    {% if current_tags contains tag %}
                      <li class="embla__slide flex-shrink-0 label px-2 md:px-0 py-5 border-b-2 border-joint-green">
                        <span class="capitalize font-bold" title="{{ tag }}">{{ tag | link_to_remove_tag: tag }}</span>
                      </li>
                    {% else %}
                      <li class="embla__slide flex-shrink-0 label px-2 md:px-0 py-5 text-joint-green/50">
                        <span class="capitalize font-bold" title="{{ tag }}">{{ tag | link_to_tag: tag }}</span>
                      </li>
                    {% endif %}
                  {% endfor %}
                
              </ul>
            </embla-wrapper>
            <hr class="absolute bottom-0 w-full inset-x-0 z-10 my-0 border-solid border-0 border-b-2 border-b-joint-green/20">
          </div>
        </div>
      </div>
    </section>

    <section
      class="blog-articles-grid padding-x grid grid-cols-2 gap-x-5 gap-y-10 mb-20 md:grid-cols-4 md:gap-y-20 md:mb-30"
    >
      {%- for article in blog.articles offset: 1 -%}
          <article class="blog-articles__article">
          {%- render 'article-grid-item',
            article: article,
            show_excerpt: section.settings.show_excerpt
          -%}
          </article>
      {%- endfor -%}
    </section>
  </div>

  {%- if paginate.pages > 1 -%}
    <div class="mb-20 md:mb-30">
      {%- render 'pagination', paginate: paginate -%}
    </div>
  {%- endif -%}

  {%- endpaginate -%}

</div>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "enabled_on": {
    "templates": [
      "blog"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Featured Article",
      "info": "Featured Article will be the most recent article of each tag category. Layout style selected in the article's metafields section."
    },
    {
      "type": "select",
      "id": "cta_color",
      "label": "CTA Color",
      "default": "button--white",
      "options": [
        {
          "label": "Joint Green",
          "value": "button--joint-green"
        },
        {
          "label": "Yellow",
          "value": "button--yellow"
        },
        {
          "label": "White",
          "value": "button--white"
        }
      ]
    },
    {
      "type": "header",
      "content": "Blog Article Card"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": true,
      "label": "Show Excerpt"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "Settings - Split Screen"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background Color",
      "default": "bg-white",
      "options": [
        {
          "label": "Green",
          "value": "bg-joint-green"
        },
        {
          "label": "Light Green",
          "value": "bg-green-light"
        },
        {
          "label": "Tan",
          "value": "bg-tan-light"
        },
        {
          "label": "White",
          "value": "bg-white"
        },
        {
          "label": "Whiter",
          "value": "bg-whiter"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swap_layout",
      "label": "Swap Layout",
      "default": false
    }
  ]
}
{% endschema %}
